

.top-sellers-items {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    margin: 0 10% 20px;

}
.new-arrivals-items {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    margin: 0 10% 20px;

}
.top-sellers-items img {
    border-radius: 40px;
  
}
.new-arrivals-items img {
    border-radius: 40px;
  
}
.top-sellers-items a {
    underline: 1px solid #f2f2f2;
    color: black;
}
.new-arrivals {

    margin-bottom: -10px;
}

.top-sellers {

    margin-bottom: -20px;
}   