#footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: teal;
    color: white;
    text-align: center;
    padding: 10px;
    display: flex;
    margin-bottom: -10px;
  }
  #footer #title {
    font-weight: bold;
  } 

  #footer #section {
    width: 100%;
    padding: 20px;

  }
  ul {
    list-style-type: none;
  }
  li {
   text-align: center;
  }

  #copyright {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: teal;
    color: white;
    text-align: center;
    padding: 10px;
  }